*{
    margin: 0;
    padding: 0;
}
/* common shared style */


body {
font-family: 'Lato',
sans-serif;
font-family: 'Open Sans', 
sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary{

    height: 64px;
    flex-shrink: 0;
    background-color: #FD6E0A;
    stroke: none;
    border-radius: 5px;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 30px;
}

/* nav related css */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
    padding-top: 50px;
}

.nav-title {
color: var(--Dark-01, #181818);
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
   padding: 50px 30px 0px 150px; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner-content{
max-width: 500px;
}

.banner .profile-pic{
    width: 500px;
}

.banner-greeting{
    color: var(--Dark-02, #474747);
    font-size: 45px;
    margin-bottom: 0px;
}

.banner-title{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    width: 585px;
    margin-top: 20px;
}

/* main section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 130px;
}

main{
    width: 1140px;
    margin: 0 auto;
}

.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.section-description{
    color: var(--Dark-03, #7f7f7f);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-top: 30px;
}

/* about section styles */

.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-info{
    text-align: center;
}

.info-title{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.info-description{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#what-id-do-description{
 padding-left: 150px;
 padding-right: 150px; 
 padding-bottom: 30px;
}
main section{
    margin-top: 130px;
}
.skill-container{
    display: flex;
    align-content: space-between;
}
.skill{
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
    margin-left: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    gap: 24px;
}

.skill-description{
   
    margin-top: 20px;
    color: #757575;
}

.skill-title{
    margin-top: 30px;
}

/* Resume Section Styles */
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container{
    display: flex;
    gap: 50px;
}

.resume-item-description{
    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
}
.resume-item-institute{
    color: #757575;
    margin-top: 10px; 
}

.resume-item-title{
    margin-top: 30px;
    color:  #474747;
}

.section-title{
    margin-bottom: 130px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column{
    width: 50%;
}
.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    margin-bottom: 25px;
    color:#757575;
    padding: 18px 35px;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.social-links a{
    margin-right: 24px;
}

.social-links{
 margin-top: 30px;   
}



